@use "styles/variables" as v;

.footer {
  display: flex;
  background: v.$primary-black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  padding:3rem 4rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &_social__media {
    a {
      display: inline-block;
      background-color: rgba(199, 199, 199, 0.34);
      border-radius: 0.5rem;
      font-size: 1.5rem;
      color: #ffffff;
      text-align: center;
      align-items: center;
      margin-left: 0.5rem;
      transition: all 0.25s;
      padding: 0.8rem;
    }
    :hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      color: #33383b;
      background-color: white;
    }
  }
  p {
    color: #e7e7e7;
    font-size: 1.5rem;
    margin: 0.7rem auto;
    text-align: center;
  }
  &_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    margin: 1rem auto;
    transition: ease 0.25s;
    &__item {
      list-style: none;
      padding: 1rem;
      &:hover {
        transition: ease 0.25s;
        transform: scale(1.1);
      }
    }
  }
}
@media (max-width: 768px) {
  .footer_links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin: 1rem auto;
    transition: ease 0.25s;
    &__item {
      list-style: none;
      padding: 1rem;
      margin: auto;
      &:hover {
        transition: ease 0.25s;
        transform: scale(1.1);
      }
    }
  }
}
