@use "styles/variables" as v;

.banner {
  @include v.riseUp;
  @include v.flexContainer;
  background: v.$color-black_gradient;
  color: white;
  font-size: 1.8rem;
  padding: 3rem 10rem;
  border-radius: 0.5rem;
  p {
    margin: 3rem 0;
  }
}
@media (max-width: 768px) {
  .banner {
    font-size: 1.2rem;
    padding: 2rem;
    h1{
      font-size: 1.8rem;
    }
   
  }
}
