@use "styles/variables" as v;

.container {
  margin: 2rem 0;
  @include v.glassmorphism__dark;
  background: v.$primary-black;
  align-items: center;

  h1 {
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    margin-top: 2rem;
    width: 100%;
  }
  .line {
    border-radius: 0.3rem;
    display: flex;
    margin: 2rem auto;
    width: 30%;
    height: 7px;
    background: v.$primary;
  }
}
